/* Change the body elements of the page: font, color, background color, width of the body, and font-sizes*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

.header{ 
    background: #ebebeb;
    border: #ebebeb;
    padding: 35px;
}

.nav{
    background: #ebebeb;
    border: #ebebeb;
    padding: 35px;
}

.article{
    color: #ebebeb;
    background: #777;
    border: #ebebeb;
    padding: 35px;
}

.h{
    color: #777;
    background: #ebebeb;
    padding: 20px;
}

.p{
    color: #777;
    background: #ebebeb;
    padding: 20px;
}

.section{
    width:495px;
    background: #ebebeb;
    border: #ebebeb;
    padding: 10px;
}

.section{
    background: #ebebeb;
}

.aside{
    background: #ebebeb;
    float: right;
    clear: both;
    width: 425px;
    
}

.footer{
    background: #ebebeb;
    border: #ebebeb;
    padding: 35px;
}