body{
    text-align: center;
    width: 960px;
    background: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, nav, section, aside, footer{
    background: #ebebeb;
}

header, nav{
    padding: 35px;
    margin-bottom: 15px;
}

#left{
    width: 465px;
    float: left;
    padding: 15px;
    margin-bottom: 15px;
}

#right{
    width: 420px;
    min-height: 232.094px;
    float: right;
    padding: 15px;
    margin-bottom: 15px;
}

#floaters{
    height: auto;
}

article{
    width: 435px;
    background: #777;
    color: #ebebeb;
    margin: 15px 0px 0px 15px;
    padding: 15px 0px 15px 0px;
}

p, h1, h2, h3, h4, h5{
    background: #ebebeb;
    color: #777;
    width: 405px;
    margin-left: 15px;
    padding: 10px 0px 10px 0px;
}

footer{
    clear: both;
    padding: 35px;
}